{
    "swagger": "2.0",
    "info": {
       "description": "Rosetta API Swagger Docs",
       "version": "1.0.0",
       "title": "Rosetta API Swagger Docs",
       "termsOfService": "http://swagger.io/terms/",
       "contact": {
          "email": "apiteam@swagger.io"
       },
       "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
       }
    },
    "host": "api.lunar.dev",
    "basePath": "/v1",
    "schemes": [
       "https",
       "http"
    ],
    "paths": {
       "/network/status": {
          "post": {
             "tags": [
                "network/status"
             ],
             "summary": "Query the network to find out status",
             "description": "",
             "operationId": "getStatus",
             "consumes": [
                "application/json",
                "application/xml"
             ],
             "produces": [
                "application/xml",
                "application/json"
             ],
             "parameters": [
                {
                   "in": "body",
                   "name": "body",
                   "description": "Specify the blockchain network",
                   "required": true,
                   "schema": {
                      "$ref": "#/definitions/Pet"
                   }
                }
             ],
             "responses": {
                "405": {
                   "description": "Invalid input"
                }
             },
             "security": [
                {
                   "petstore_auth": [
                      "write:pets",
                      "read:pets"
                   ]
                },
                {
                   "api_key": []
                }
             ]
          }
        }
    },
    "securityDefinitions": {
       "petstore_auth": {
          "type": "oauth2",
          "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
          "flow": "implicit",
          "scopes": {
             "write:pets": "modify pets in your account",
             "read:pets": "read your pets"
          }
       },
       "api_key": {
          "type": "apiKey",
          "name": "X-Api-Key",
          "in": "header"
       }
    },
    "definitions": {
       "Pet": {
          "type": "object",
          "required": [
             "name",
             "photoUrls"
          ],
          "properties": {
             "id": {
                "type": "integer",
                "format": "int64"
             },
             "category": {
                "$ref": "#/definitions/Category"
             },
             "name": {
                "type": "string",
                "example": "doggie"
             },
             "photoUrls": {
                "type": "array",
                "xml": {
                   "name": "photoUrl",
                   "wrapped": true
                },
                "items": {
                   "type": "string"
                }
             },
             "tags": {
                "type": "array",
                "xml": {
                   "name": "tag",
                   "wrapped": true
                },
                "items": {
                   "$ref": "#/definitions/Tag"
                }
             },
             "status": {
                "type": "string",
                "description": "pet status in the store",
                "enum": [
                   "available",
                   "pending",
                   "sold"
                ]
             }
          },
          "xml": {
             "name": "Pet"
          }
       },
       "ApiResponse": {
          "type": "object",
          "properties": {
             "code": {
                "type": "integer",
                "format": "int32"
             },
             "type": {
                "type": "string"
             },
             "message": {
                "type": "string"
             }
          }
       }
    },
    "externalDocs": {
       "description": "Find out more about Swagger",
       "url": "http://swagger.io"
    }
 }  